<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Appointment</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1 class="title">
  Book an Appointment For <span>Fortumars</span> Services
</h1>


<div class="card">


  <div class="stepper">
    <div class="step active">Service</div>
    <div class="step">Slot</div>
    <div class="step">Details</div>
    <div class="step">Confirm</div>
    <div class="step">Success</div>
  </div>


  <div class="step-content active" id="step1">
    <h2>Select Service</h2>
    <button class="option">Custom Software Development</button>
    <button class="option">ERP Development</button>
    <button class="option">CRM Development</button>
    <button class="option">Business Development</button>
    <button class="option">Digital Markeiting </button>
    <button class="next-btn" disabled>Next</button>
  </div>


  <div class="step-content" id="step2">
    <h2>Select Date & Slot</h2>
    <input type="date" id="date">
    <div class="slots">
      <button class="slot">10:00 AM</button>
      <button class="slot">12:30 PM</button>
      <button class="slot booked">03:00 PM</button>
      <button class="slot">6:30 PM</button>
    </div>
    <button class="next-btn" disabled>Next</button>
  </div>


  <div class="step-content" id="step3">
    <h2>Your Details</h2>
    <input id="name" placeholder="Full Name">
    <input id="email" placeholder="Email Without any Typo">
    <input id="mobile" placeholder="Mobile Number">
    <button class="next-btn" disabled>Next</button>
  </div>


  <div class="step-content" id="step4">
    <h2>Review</h2>
    <div id="summary"></div>
    <button class="next-btn">Confirm Booking</button>
  </div>


  <div class="step-content" id="step5">
  <div class="success-card">
    <div class="checkmark">✔</div>

    <h2>Booking Confirmed</h2>
    <p class="success-text">
      Thanks for booking your appointment.<br>
      We will notify you with further proceedings.
    </p>

    <p id="bookingId" class="booking-id"></p>

    <button class="home-btn" onclick="location.reload()">Book Another</button>
  </div>
</div>


  <div class="support">
  <p>
    Need help? Contact us at
    <a href="mailto:support@fortumars.com">support@fortumars.com</a>
  </p>
</div>





</div>

<script src="/static/script.js"></script>
</body>
</html>
